body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

body p {
  font-family: 'Raleway', sans-serif;
}
header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.fuente-menu {
  font-size: 150%;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.font-Raleway {
  font-family: 'Raleway', sans-serif;
}

.font-foot {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}


@media screen and (min-width: 601px) {
  .h2-resp {
    font-size: 55px;
    font-weight: bolder;
  }
  .h1-resp {
    font-size: 6rem;
    font-weight: bolder;
  }
}

@media screen and (max-width: 600px) {
  .h2-resp {
    
    font-size: 40px;
    font-weight: bolder;
  }
  .h1-resp {
    font-size: 3.5rem;
    font-weight: bolder;
  }
}